{% block content %}

    <!-- Remove Custom Post Types -->

    <div class="clearfix"></div>

    <article id="post-{{ post.ID }}">

        <div class="container narrow-container">
            <header class="page-header">
                <div class="top-page-tags">
                    {% if ( page_type ) %}
                        <a
                            class="tag-item tag-item--main page-type"
                            href="{{ fn('get_term_link', page_term_id) }}"
                            data-ga-category="Header"
                            data-ga-action="Post Type Tag"
                            data-ga-label="n/a">
                                {{ page_type|e('wp_kses_post')|raw }}
                        </a>
                    {% endif %}

                    {% if ( page_type and post.issues_nav_data ) %}
                        <span class="main-tag-chevron" aria-hidden="true"></span>
                    {% endif %}


                    {% if ( post.issues_nav_data ) %}
                        <div class="tag-wrap issues">
                            {% for issue in post.issues_nav_data %}
                                <a
                                    class="tag-item tag-item--main"
                                    href="{{ issue.link|default('#') }}"
                                    data-ga-category="Header"
                                    data-ga-action="Category Tag"
                                    data-ga-label="n/a">
                                        {{ issue.name|e('wp_kses_post')|raw }}
                                </a>

                                {% if ( loop.last == false ) %}
                                    <span class="category-separator" aria-hidden="true">|</span>
                                {% endif %}

                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <h1 class="page-header-title">{{ post.title|raw }}</h1>

                <!-- Remove Post Meta -->

                {% include "blocks/share_buttons.twig" with {social:post.share_meta, utm_medium: 'share'} %}

                <!-- Include archive block-->
                {% if 'archive' in post.tags|map(attribute => attribute.slug) %}
                    {{ function('get_template_content', 'archive')|e('wp_kses_post')|raw }}
                {% endif %}
                <!-- End Include archive block-->

            </header>
        </div>

        <!-- Post Block Start -->
        <div class="container narrow-container">
            <div class="post-content">
                <article class="post-details clearfix">
                    {{ post.content|raw }}
                    {% if ( post.take_action_boxout ) %}
                        {{ fn('do_blocks', post.take_action_boxout )|raw }}
                    {% endif %}
                </article>
            </div>

        <!-- Remove Featured Action -->

        <!-- Remove Post Tags -->

        </div>
        <!-- Post Page Block End -->

        <!-- Remove Author Profile -->

        {% if ( post.articles ) %}
            <section class="container post-articles-block">
                {{ fn('do_blocks', post.articles )|raw }}
            </section>
        {% endif %}
        {% if ( show_comments ) %}
            {% include "comments_section.twig" with {comments:post.get_comments()} %}
        {% endif %}
    </article>
{% endblock %}
